%h1 Transactions

.horizontal-scroll
  %table.table.table-striped#goBucksTransactionsTable
    %thead
      %tr
        %th Transfered from
        %th Transfered to
        %th Transfered amount
        %th Description

    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.from_wallet_name
          %td= transaction.to_wallet_name
          %td= transaction.amount
          %td= transaction.description

= will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center)
