%h1 Grant 

= form_with(url: grant_path, method: :post, local: true) do |form|
  .input-group.btn-group
    %input#amountTextfield.form-control{name: 'amount', type: "number", value: params['amount'], min: 0, max: 1000}
    %button.btn.btn-primary#grantBtn{type: 'submit'}Grant

  .horizontal-scroll
    %table.table.table-striped#goBucksGrantTable
      %thead
        %tr
          %th Select
          %th Wallet
          %th Balance

      %tbody
        - @wallets.each do |wallet|
          %tr
            %td= check_box_tag('ids[]', wallet.id, @selected_wallets.include?(wallet))
            %td= wallet.user_name
            %td= wallet.balance

= will_paginate @wallets
