%div.d-flex.justify-content-between.mb-2
  %h1 Transfer Go Bucks

= form_tag go_bucks.transfer_path do |form|
  .row
    .col-12
      .form-group
        %label Transfer to
        = select_tag :email, options_from_collection_for_select(@users.sort_by(&:name), :email, :name), include_blank: true, class: 'form-control select2'
  .row
    .col-12
      .form-group
        %label Amount
        = number_field_tag :amount, nil, value: 1, min: 0, class: 'form-control'

  .row
    .col-12
      .form-group
        = submit_tag 'Transfer', class: 'btn btn-primary'
        = link_to "Cancel", :back, class: 'btn btn-secondary'